<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo app with Vue.js v2</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="create">
      <input
        v-model="createText"
        placeholder="Please input a todo."
      />

      <button>Create</button>
    </form>

    <ul>
      <li v-for="(todo, index) in todos" :key="todo.id" >
        <span v-if="todo.editing">
          <input v-model="todo.text" />
        </span>
        <span v-else>{{ todo.text }}</span>

        <button @click="update(todo.id)">Update</button>
        <button v-if="!todo.editing" @click="remove(todo.id)">Remove</button>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./app.js"></script>
</body>
</html>
